@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    overflow-x: hidden;
}

body{
    background-color: teal;
    font-family: Montserrat;
    margin: 0 ;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


/* header & navbar */
.header{
    position: sticky;
    background-color: ivory;
}
  
.logo{
    cursor: pointer;
    
}

nav{
    
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul{
    list-style: none;
  
}

.header nav ul li{
    display: inline-flex;
    margin-left: 50px;

}

.header nav ul li a{
    text-decoration: none;
}

.container  {
    display: flex;

 }

.container div{
    border: 3px solid black;
    padding: 10px;
}

.box1{
    flex: 1;
    order: 1;
}

.box2{
    flex: 1;
    order: 2;
}

.box3{
    flex: 1;
    order: 3;
}
 


  